CATALOG {
  background-color: #ffffff;
  width: 100%;
}

CD {
  display: block;
  margin-bottom: 30pt;
  margin-left: 0;
}

TITLE {
  display: block;
  color: #ff0000;
  font-size: 20pt;
}

ARTIST {
  display: block;
  color: #0000ff;
  font-size: 20pt;
}

COUNTRY,
PRICE,
YEAR,
COMPANY {
  display: block;
  color: #000000;
  margin-left: 20pt;
}